<!DOCTYPE html>
<html>
<head>
    <title>Autorisation Exceptionnelle d'Absence en Cours</title>
</head>
<body>
<h1>Autorisation Exceptionnelle d'Absence en Cours</h1>

<form action="/submitAbsence" method="post">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" required/><br/>

    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" name="prenom" required/><br/>

    <label for="matricule">Matricule:</label>
    <input type="text" id="matricule" name="matricule" required/><br/>

    <label for="groupe">Groupe:</label>
    <input type="text" id="groupe" name="groupe" required/><br/>

    <label for="niveau">Niveau:</label>
    <input type="text" id="niveau" name="niveau" required/><br/>

    <label for="filiere">Filière:</label>
    <input type="text" id="filiere" name="filiere" required/><br/>

    <label for="dateDebutDemande">Date Début:</label>
    <input type="date" id="dateDebutDemande" name="dateDebutDemande" required/><br/>

    <label for="dateFinDemande">Date Fin:</label>
    <input type="date" id="dateFinDemande" name="dateFinDemande" required/><br/>

    <label for="motifDemande">Motif:</label>
    <input type="text" id="motifDemande" name="motifDemande" required/><br/>

    <label for="dateDemande">Date de la Demande:</label>
    <input type="date" id="dateDemande" name="dateDemande" required/><br/>

    <button type="submit">Soumettre la demande</button>
</form>
</body>
</html>
